@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-base-100: var(--base-100);
  --color-base-500: var(--base-500);
  --color-base-900: var(--base-900);
  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-500: var(--accent-500);
  --color-card: var(--card);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.95 0.005 0); /* hsla(40, 100, 98, 1) oklch(0.99 0 0) */
  --base-100: oklch(0.89 0.028 162);
  --base-500: oklch(0.65 0.09 160);
  --base-900: oklch(0.29 0.04 158.89);
  /* --accent-50: oklch(0.95 0.07 33.31);
  --accent-100: oklch(0.9 0.2 33.31);
  --accent-500: oklch(0.58 0.2 33.31); */
  --accent-50: var(--color-yellow-100);
  --accent-100: var(--color-yellow-400);
  --accent-500: var(--color-yellow-600);
  --card: oklch(100% 0.00011 271.152);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --card: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
}

@layer base {
  * {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-oswald);
    }

    blockquote {
      font-family: var(--font-cormorant);
      font-size: 30px;
      font-weight: 700;
      color: var(--color-accent-500);
      ::before {
        content: '" ';
      }
      ::after {
        content: ' "';
      }
    }

    a,
    ul,
    li,
    p,
    span {
      font-family: var(--font-raleway);
      ul,
      li,
      p {
        word-spacing: 4px;
      }
    }
  }
  
  body {
    @apply bg-background text-base-900 selection:bg-accent-100 selection:text-stone-900;
  }

  main {
    @apply mt-2 px-2;

    a {
      @apply font-bold
    }

    a::before {
      content: "> "
    }

    a:hover::before {
      color: rgba(0, 0, 0, 0)
    }

    .no-marker::before {
      content: none;
    }
  }

  h1 {
    @apply mb-5 text-5xl;
  }

  h2 {
    @apply mb-4 text-4xl;
  }

  h3 {
    @apply mb-3 text-3xl;
  }

  h4 {
    @apply mb-2 text-2xl;
  }

  h5 {
    @apply mb-2 text-xl;
  }

  h6 {
    @apply mb-2;
  }

  p,
  li {
    @apply leading-[1.8] tracking-[-0.3px];
  }

  ul,
  ol {
    @apply list-outside pl-10;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;

    li {
      ol {
        @apply list-[lower-alpha];
      }
    }
  }

  p,
  ul,
  ol,
  blockquote {
    @apply mb-4;
  }

  a {
    @apply hover:text-accent-500;
  }

}
